@import "./../../../../../styles/colors";
@import "./../../../../../styles/fonts";

.product {
  height: 350px;
  width: 200px;
  margin: 10px;
  background-color: #e0e6ee;
  padding-top: 20px;
  border-radius: 10%;
  position: relative;
  .productTitle {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
  }
  .productPrice {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    margin-top: 5px;
    span {
      color: red;
    }
  }
  .addToCartBtn {
    margin: 5px auto;
    position: absolute;
    bottom: 10px;
    left: 100px;
    transform: translate(-50%, 0);
    &:hover {
      cursor: pointer;
    }
  }
}
